@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body{
    font-family: 'Lato', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #0C060F;
    color: aliceblue;
}
::-webkit-scrollbar {
    width: 0px;
}
#baslik{
    text-align: center;
    font-size: 65px;
}
#altbaslik{
    text-align: center;
    font-size: 32px;
}
.sorular{
    margin-top: 10px;
    font-size: 30px;
    background-color: #0E6C81;
}
#sorular{
    border-radius: 10px;
}
.sorular button{
    margin-left: 40px;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 70px;
    transition: ease-in-out 0.1s;
    
}
.sorular button:hover{
    filter: drop-shadow(0 0 0.75rem #25102D);
}
.sorular input:hover{
    filter: drop-shadow(0 0 0.75rem #25102D);
}
#dipnot{
    
    padding: 50px;
    text-align: center;
    margin-bottom: 50px;
    background-color: #6CD7EF;
    color: #021013;
}
.sorular input{
    transition: ease-in-out 0.1s;
    margin-left: 40px;
    height: 40px;
    width: 100px;
    border-radius: 10px;

}
#susayaci{
    border-radius: 100px;
    padding: 50px;
    right: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0%;
    background-color: #0C060F;
    transition: ease-in-out 0.2s;
}
#susayaci:hover{
    border-radius: 10px;
    padding: 100px;
    font-size: 50px;
}
div{
    padding: 50px;
    background-color: #25102D;
    font-size: 20px;
    text-align: center;

}
div a{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 100px;
    padding: 5px;
    background-color: #C9A6C0;
    text-decoration: none;
    color: #021013;
    transition: ease-in-out 0.2s;
}
div a:hover{
    border-radius: 10px;
    padding: 10px;
    background-color: #B181A5;
    text-decoration: none;
    color: #021013;
}
.milanote iframe{
    filter: drop-shadow(-10px 10px 0.5rem #E0CCDB);
}
.milanote section{
    margin-top: 50px;
    font-size: 50px;
}
